<table class="table table-responsive-sm table-dark">
    <tr>
        <td><a href="http://www.rocvantwente.nl">ROC van Twente</a></td>
        <td><a href="http://www.rocvantwente.nl">ROC van Twente</a></td>
        <td><a href="http://www.rocvantwente.nl">ROC van Twente</a></td>
    </tr>
</table>